# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
env/
.venv/

# VS Code
.vscode/

# PyInstaller files
build/
dist/
*.spec

# Jupyter Notebook
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db